[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
build = "*"
twine = "*"
certifi = ">=2024.7.04"

[dev-packages]

[requires]
python_version = "3.9"